@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<ContextMenu Mystyle="@DivStyle"></ContextMenu>


<textarea rows="10" class="form-control" id="CSTemplate" 
          @onkeypress="@cmdOnKeyPress" 
          @onclick="@cmdOnClick" ></textarea>
