@page "/"

<h1>Hello, world!</h1>

please input some text and then press &#64; to display context menu right at caret position (scroll position is ignored for now)

<ContextMenu Mystyle="@DivStyle"></ContextMenu>


<textarea rows="10" class="form-control" id="CSTemplate"
          @onkeypress="@cmdOnKeyPress"
          @onclick="@cmdOnClick"></textarea>
